@import "tailwindcss";
@theme {
    --color-instblue: #1266CD
}

@font-face {
  font-family: 'Oswald';
  src: url('../src/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}