@import "tailwindcss";

@theme {
  --color-instblue: #1266CD
}

@font-face {
  font-family: 'Oswald';
  src: url('../src/fonts/Oswald-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover {
  border-radius: 0 !important;
  /* rende quadrata la cella */

}

.flatpickr-day.today {
  border-radius: 0%;
}

.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background: #1266CD !important;
}

.flatpickr-weekdays {
  font-family: "oswald", "sans-serif";
}

.flatpickr-calendar {
  border-radius: 0 !important;
  box-shadow: none;
}


.dic {
  /* Basic dimensions and centering */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #121212;
  /* Fallback for browsers that don't support gradients */
  background: linear-gradient(135deg,
      #eaeaea 25%,
      #f1f1f1 25%,
      #f1f1f1 50%,
      #eaeaea 50%,
      #eaeaea 75%,
      #f1f1f1 75%,
      #f1f1f1);
  background-size: 40px 40px;
}


.tabulator,
.tabulator .tabulator-tableholder,
.tabulator .tabulator-table,
.tabulator .tabulator-row,
.tabulator .tabulator-cell,
.tabulator .tabulator-header,
.tabulator .tabulator-col {
  border: none !important;

}

.tabulator {
  border: none !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  /* ombra leggera */
  background-color: white !important;
}

.tabulator,
.tabulator .tabulator-tableholder,
.tabulator .tabulator-table,
.tabulator .tabulator-placeholder,
.tabulator .tabulator-footer {
  background-color: white !important;
}

.tabulator .tabulator-header .tabulator-col {
  background-color: #1266bc !important;
  color: white !important;
  /* testo bianco per contrasto */
  font-weight: 600;
  /* testo leggermente più marcato */
}

.tabulator .tabulator-row.even {
  background-color: #E2E8F0 !important;
  /* slate-200 */
}

.tabulator .tabulator-row.odd {
  background-color: #ffffff !important;
}

.tabulator .tabulator-footer {
  border-top: 1px solid white !important;
}